{
    HAJAR_MONGODB_NAME: "",
    HAJAR_MONGODB_USER: "",
    HAJAR_MONGODB_PASSWORD: "",
    HAJAR_MAIL_PARAMETERS: "HOST:PORT:IS_SECURE:USERNAME:PASSWORD;HOST2:PORT2:IS_SECURE:USERNAME2:PASSWORD2"
}