{
    "HAJAR_MONGODB_NAME": "Qawaim",
    "HAJAR_MONGODB_USER": "dbQawaim",
    "HAJAR_MONGODB_PASSWORD": "QYKZnv9zdbf577n8",
    "HAJAR_MAIL_PARAMETERS":[
        {
            "name": "myBillingName",
            "host":"box.qawaim.app",
            "port": "465",
            "secure": true,
            "username": "billing@qawaim.app",
            "password": "3=3ZzEZtum"
        },
        {
            "name": "myNewsletterName",
            "host":"box.qawaim.app",
            "port": "465",
            "secure": true,
            "username": "newsletter@qawaim.app",
            "password": "3X3UpJV]n5"
        }
    ],
    "HAJAR_PAYEMENTS_PARAMETERS":[
        "paypal": {
            "host":"box.qawaim.app",
            "port": "465",
            "secure": true,
            "username": "billing@qawaim.app",
            "password": "3=3ZzEZtum"
        },
        "googlepay": {
            "environment":"",
            "merchantId": "",
            "publicKey": "",
            "privateKey": ""
        },
        "payfort": {
            "access_code":"",
            "merchant_identifier": "",
            "sha_request_passphrase": ""
        }
    ]
}